extends layout


include mixins/_reviewForm
include mixins/_review

block content
	.single
		.single__hero
			img.single__image(src=`/uploads/${farm.farmPhoto || 'farm.png'}`)
			h2.title.title--single
				a(href=`/farm/${farm.farmSlug}`) #{farm.farmName}

	.single__details.inner
		img.single__map(src=h.staticMap(farm.farmLocation.coordinates))
		p.single__location= farm.farmLocation.address
		p= farm.farmDescription

		if farm.farmTags
			ul.tags
				each farmTag in farm.farmTags
					li.tag
						a.tag__link(href=`/farmTags/${farmTag}`)
							span.tag__text ##{farmTag}

		if user
			+reviewForm(farm)

		if farm.reviews
			.reviews
				each review in farm.reviews
					.review
						+review(review)