.farms {
  display:flex;
  flex-wrap:wrap;
  margin: -1.25em 0 0 -1.25em;
}

.farm {
  background:white;
  margin: 1.25em 0 0 1.25em;
  width: calc(50% - 1.25em);
  box-shadow: $shad;
  &--wide {
    width: 100%;
  }
  &__details {
    padding: 2rem;
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 850px) {
    width: calc(50% - 1.25em);
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}

.farm__actions {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,0.2);
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.farm__action {
  font-size: 10px;
  svg {
    width: 25px;
    fill: white
  }
  &--edit {
    a {
      border-bottom: 0;
    }
  }
}


.farm__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right;
  &:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background:
      linear-gradient(315deg, hsla(39, 10%, 10%, 0.8) 100%, hsla(39, 10%, 10%, 0) 70%);
    opacity: 0.6;
    z-index: 1;
    
  }
  img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    
  }
}
