@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size:10px;
}

body {
  font-size:1.5rem;
  color:$black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 5rem;
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color:$black;
}

p a {
  border-bottom: 2px solid $yellow;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}

.title {
  word-wrap: break-word;
  position: relative;
  z-index: 2;
  margin:0;
  font-size: 30px;
  z-index: 2;

  &--long {
    font-size: 20px;
  }
  &:before {
    content: '';
    width:50px;
    //left:0;
    //top:0;
    height:100%;
    display: block;
    position: absolute;
    z-index: -1;
    text-align: center;
    
  }
  line-height:1.4;
  // inline link inside
  a {
    border-bottom: 0;
    //background: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #fff;
  }
}

.title--single {
  max-width: 600px;
  margin-top: -9rem;
  font-size: 10rem;
  text-align: center;
}
